header {
    height: 120px;
    background-color: cornflowerblue;
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 32px;

}
.parent {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.card {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    background-color: coral;
}